.tabs-box{
	width: 80%;
	margin: 30rpx 0;
}

.cart-item{
	background-color: #fff;
	// padding: 20rpx;
	border-radius: 10rpx;
	box-shadow: 5rpx 5rpx 10rpx #999;
	margin: 20rpx;
	.cover{
		width: 100%;
	}
	.footer{
		display: flex;
		align-items: center;
		margin-top: 20rpx;
		padding-top: 20rpx;
		border-top: 1px solid #F5F5F5;
		font-size: 28rpx;
		color: #999;
		.btn{
			margin-left: auto;
			margin-right: 0;
		}
	}
	.txt{
		font-size: 28rpx;
		color: #999;
	}
}

.empty-box{
	// padding: 0 30rpx;
	margin-top: 30rpx;
	.item-wrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		max-height: 300rpx;
		.item {
			position: relative;
			color: #8f8f8f;
			display: inline-block;
			background: #f5f5f5;
			border-radius: 20rpx;
			padding: 14rpx 33rpx;
			margin: 20rpx 20rpx 0 0;
			max-width: 260rpx;
			text-overflow: ellipsis;
			white-space: nowrap;
			font-size: 22rpx;
			animation: fadeIn 0.6s ease;
			overflow: hidden;
		}
	}
	text{
		color: #999;
		font-size: 28rpx;
		margin-top: 20rpx;
	}
}

@function c($rpx) {
	@return ($rpx * 1.74) + rpx;
}
